*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Orbitron", sans-serif;

  background-image: url("../assets/cityBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0; /* Elimina i margini */
  padding: 0;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

#app {
  height: 100vh;
}

a{
  text-decoration: none;
  padding: 3px;
  color: white;
  cursor: pointer;
}

.gold_text {
  color: #c2b590;
}

.white_text {
  color: #ffffff;
}

.hover:hover {
  text-decoration: underline;
}

input, textarea {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0px 0px 5px 2px rgba(96,89,68,0.55);

  margin: 5px 5px;
  padding: 5px;
}

input::placeholder {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: rgba(0,0,0,0.40);
  line-height: 2;
}

@media only screen and (min-width: 767px) and (max-height: 650px){
  #app {
    height: fit-content;
  }
}

@media only screen and (max-width: 766px) and (max-height: 514px){
  #app {
    height: fit-content;
  }
}