*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "Orbitron", sans-serif;
}

#app {
  height: 100vh;
}

.background_img {
  background: url("../assets/cityBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  margin: 0; /* Elimina i margini */
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

a{
  text-decoration: none;
  padding: 3px;
  color: white;
  cursor: pointer;
}

.gold_text {
  color: #c2b590;
}

.white_text {
  color: #ffffff;
}

.hover:hover {
  text-decoration: underline;
}

input, textarea {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0px 0px 5px 2px rgba(96,89,68,0.55);
  padding: 5px;
}

input::placeholder {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: rgba(0,0,0,0.40);
}